nav ul li a:hover {
    color: gray;
    border-bottom: 1px solid #000;
}

nav ul li a {
    color: #000;
}

body {
    background-image: url(../imagens/380.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

#ajuda {
    background: white !important;
}
